@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg-dots-pattern {
  background-image: radial-gradient(circle, gray 0.5px, transparent 0.9px);
  background-size: 20px 20px;
}
.bg-dots-pattern-hero {
  background-image: radial-gradient(circle, gray 0.5px, transparent 0.5px);
  background-size: 20px 20px;
}
.componentScroll {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.componentScroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 10);
}

.slide {
  height: 100px;
  width: 250px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 5));
  }
}
